<!DOCTYPE html>
<html>
<head>
  <title>BADSEC</title>
  <link rel="stylesheet" href="/static/css/index.css" />
  
</head>
<body>
  <div class="container">
    <h1>B.A.D.S.E.C</h1>
    <h6>(Blatantly Awful and Dangerous Secret Exchange Contraption)</h6>
    <label for="key">Key</label>
    <br>
    <input type="text" id="key" name="key" />
    <br>
    <label for="content">Content</label>
    <br>
    <textarea id="content" name="content"></textarea>
    <br>
    <div class="buttons-container">
      <button id="fetch-button">Fetch</button>
      <button id="set-button">Set</button>
    </div>
    <div class="dark-mode-container">
      <label for="dark-mode-toggle">Dark mode</label>
      <input type="checkbox" id="dark-mode-toggle" />
    </div>
  </div>
  <script src="/static/js/index.js"></script>
</body>

</html>
